<div class="text-layout">
  <h1>{{nombre | titlecase }}</h1>
  <h2>{{valor | number}}</h2>
  <h2>{{obj | json}}</h2>
</div>

<button 
  pButton 
  type="button" 
  label="Cambiar Nombre" 
  class="p-button-help"
  icon="pi pi-bell" 
  iconPos="right"
></button>

<p-card 
  [header]="nombre | titlecase"
  subheader="Esto es un subheader"
>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusamus, velit, obcaecati iste fugiat, dolorum sint nemo molestiae quam ipsum eveniet dolore odit. Sit inventore nemo ut. Ipsum, quidem aliquam.</p>
</p-card>
